
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}


.products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.searchbox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px;
}

.field {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.field label {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}

.card-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.not-found {
  font-size: 40px; 
  color: red;
  font-weight: bold;;
  text-transform: uppercase;
}

.price-btn {
  font-size: 25px !important;
}

@media (max-width:900px) {
    .field {
      width: 70%;
      flex-direction: column;
      justify-content: flex-start;
    }
}